{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Purely Nepal</p>
            </div>
        </div>
    </header>

    
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br>
                    <p align="justify">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus repellendus distinctio consectetur beatae saepe. Consectetur optio unde odio. Cum tempore eius maiores illum quis aut quia similique hic velit eveniet? Dicta impedit repudiandae ex unde blanditiis doloremque alias iusto sequi eligendi? Sapiente dolores aut, laborum eos, quas sunt vero maxime ipsam quidem eveniet beatae nostrum veritatis vitae delectus rerum quisquam praesentium odit temporibus consequatur. Libero iusto exercitationem veniam reprehenderit, eum cum enim sapiente, sequi ratione, perspiciatis perferendis eos hic aspernatur natus. Nihil iste quas quisquam iure molestias ipsum consequuntur, labore optio! Aliquam voluptate laborum, illum ducimus quod voluptatum corrupti quos?
                        <br/><br/>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sed iusto maiores expedita excepturi. Quibusdam vel modi nulla corrupti natus dignissimos incidunt minus optio dolores accusamus accusantium quia repellendus maxime ratione eum distinctio, in cumque tenetur nobis voluptate consequatur. Reiciendis, voluptate deserunt tenetur fuga incidunt rem nihil pariatur officia modi dolores cum consequatur sit ut accusamus nobis numquam ipsa natus. Hic, repudiandae et non recusandae odio natus officiis tenetur eaque vel, dolor dignissimos voluptates consequatur! Omnis cupiditate similique corporis officiis illo, suscipit temporibus, aspernatur at necessitatibus assumenda mollitia praesentium fuga quas sequi qui? Incidunt quos architecto accusamus similique autem est.
                        <br><br/>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dicta, culpa placeat suscipit maxime vel sint incidunt itaque excepturi hic facere, sit, aspernatur asperiores omnis porro sunt possimus odio tempore? Illo mollitia aperiam neque, iure amet et, quasi exercitationem similique voluptate, est iusto. Quaerat libero quae deserunt illo modi accusamus ad! Natus distinctio facere labore molestias dignissimos hic quis quibusdam esse iusto odit temporibus aliquid dolorem fuga accusantium quam animi illo, accusamus obcaecati ratione, ea nesciunt deserunt nobis possimus? Et, possimus nesciunt. At perferendis, error consectetur dolore distinctio iusto eos quod nihil facilis perspiciatis voluptates ab eaque tempore temporibus ea?
                    </p>
                </div>
            </center>
        </div>
    </div>    
{% endblock %}