{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Discover Nepal, Naturally</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Luxury of Nature, Legacy of Nepal
      </p>
    </div>
  </div>
</header>

<div class="container">
  <br />
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <center>
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text justified">{{ product.description }}</p>

            {% if product.is_sale %}
            <!-- Sale badge-->
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
              Sale
            </div>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ product.name }}</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                <strike>Rs. {{ product.price }}</strike> &nbsp;Rs. {{ product.sale_price }}
                <br />
                ⭐⭐⭐⭐⭐
              </div>
            </div>
            {% else %}
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ product.name }}</h5>
                <!-- Product price-->
                Rs. {{ product.price }}<br>
                ID: {{ product.id }}
              </div>
            </div>

            {% endif %}

            <div class="row justify-content-center">
              <div class="col-md-2">Quantity:</div>
              <div class="col-md-2">
                <select class="form-select form-select-sm" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
            </div>
            <br>

            <!-- <div class="row justify-content-center">
              <div class="col-md-2">Quantity:</div>
              <div class="col-md-2">
                  <input class="form-control-sm" type="number" id="qty-scroller" name="quantity" min="1" max="120" value="1">
              </div>              
            </div>  
            <br>   if slider is used -->

            <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
            <button class="btn btn-secondary" value="{{ product.id }}" id="add-cart">Add to cart</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br /><br />


<script>
  // jQuery + Django AJAX snippet for adding a product to a cart without refreshing the page
  $(document).on('click', '#add-cart', function(e){   // Waits for a click event on an element with id add-cart.
    e.preventDefault();   // stops the default action (like submitting a form or following a link).
    $.ajax({    // send the request manually via AJAX.
      type:'POST',
      url: '{% url "add-cart" %}',  // generate the URL of the add-cart
      data: {   // payload sent to the server:
        action: 'post',
        csrfmiddlewaretoken: '{{ csrf_token }}',   // Django requires a CSRF token for all POST requests.
        product_id: $('#add-cart').val(),
        product_qty: $('#qty-cart option:selected').text()
      },
      success: function(json){
        document.getElementById('cart_quantity').textContent = json.qty;
        console.log(json);    // If the server responds successfully, log the returned JSON response in the console.
        location.reload();
      },
      error: function(xhr, errmsg, err) { }
    });
  });

  /*
  User clicks Add to Cart button.
  JavaScript intercepts the click, stops page reload.
  AJAX sends product ID + CSRF token to Django backend.
  Django view adds product to session/cart and returns JSON.
  Success callback logs/updates UI (e.g., cart count).
  */
</script>

{% endblock %}
