{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Reset Password</h1>
                <p class="lead fw-normal text-white-50 mb-0">One last chance to secure your account.</p>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <form  action="{% url 'reset-password' %}" method="post">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="form-group mb-3">
                            {{ field }}
                            {% if field.help_text %}
                                {{ field.help_text|safe }}
                            {% endif %}
                            <div class="text-danger small">
                                {% for error in field.errors %}
                                    {{ error }} <br>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    
                    <button type="submit" class="btn btn-secondary">Reset Password</button>                    
                </form>
    
                <br><br>
            </div>
        </div>
    </div>    
{% endblock %}
