{% extends 'base.html' %}
{% load static %}
    
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Billing Information</h1>
                <p class="lead fw-normal text-white-50 mb-0">Get your payment clear.</p>
            </div>
        </div>
    </header>
    <br>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        Order Summary
                    </div>
                    <div class="card-body">
                        {% for product in cart_products %}
                            {{ product.name }}
                            {% if product.is_sale %}
                                ${{ product.sale_price }}
                            {% else %}
                                ${{ product.price }}
                            {% endif %}
                            <br>

                            <small>Quantity: 
                            {% for product_id, quantity in quantities.items %}                                
                                {% if product_id == product.id|slugify %}
                                    {{ quantity }} 
                                {% endif %}
                            {% endfor %}</small>
                            <br><br> 
                        {% endfor %}                    
                        Total: {{ totals }} <br><br>
                        <a href="{% url 'cart-summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                    </div>
                </div>
                <br><br>

                <div class="card">
                    <div class="card-header">
                        Shipping Information
                    </div>
                    <div class="card-body">                        
                        Name: {{ shipping_info.shipping_full_name }} <br>
                        Email: {{ shipping_info.shipping_email }} <br>
                        Address 1: {{ shipping_info.shipping_address1 }} <br>
                        Address 2: {{ shipping_info.shipping_address2 }} <br>
                        City: {{ shipping_info.shipping_city }} <br>
                        State: {{ shipping_info.shipping_state }} <br>
                        ZipCode: {{ shipping_info.shipping_zipcode }} <br>
                        Country: {{ shipping_info.shipping_country }} <br><br>                        

                        <a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-secondary">Update Shipping</a>
                    </div>
                </div>
                <br><br>

                
                <div class="card">
                    <div class="card-header">
                        Billing Information
                    </div>
                    <div class="card-body">
                        Amount: ${{ order_bill.amount }}<br>
                        Taxable Amount: ${{ order_bill.tax_amount }}<br>
                        Product Service Charge: ${{ order_bill.psc }}<br>
                        Product Delivery Charge: ${{ order_bill.pdc }}<br>
                        Total Payable Amount: ${{ order_bill.total_amount }}<br>
                        <br><br>

                        <table class="table table-hover table-borderless">
                            <tbody>
                                <tr>
                                    <td>Amount</td>
                                    <td>$ {{ order_bill.amount }}</td>
                                </tr>
                                <tr>
                                    <td>Taxable Amount</td>
                                    <td>$ {{ order_bill.tax_amount }}</td>
                                </tr>
                                <tr>
                                    <td>Product Service Charge</td>
                                    <td>$ {{ order_bill.psc }}</td>
                                </tr>
                                <tr>
                                    <td>Product Delivery Charge</td>
                                    <td>$ {{ order_bill.pdc }}</td>
                                </tr>
                                <tr>
                                    <td>Total Payable Amount</td>
                                    <td>$ {{ order_bill.total_amount }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br>
                                
                
                <!-- Payment Method Form -->  
                <form action="{% url 'place-order' %}" id="payment-form" method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            Payment Method
                        </div>
                        <div class="card-body">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="payment_method" id="cash" value="cash" checked>
                                <label class="form-check-label" for="cash">
                                    <h5>Cash On Delivery</h5>
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="payment_method" id="esewa" value="esewa">
                                <label class="form-check-label" for="esewa">
                                    <img src="https://developer.esewa.com.np/assets/img/esewa_logo.png" style="width: 100px;" alt="esewa">
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="payment_method" id="khalti" value="khalti">
                                <label class="form-check-label" for="khalti">
                                    <img src="https://cdn.nayathegana.com/services.khalti.com/static/images/khalti-ime-logo.png" style="width: 100px;" alt="khalti">
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-secondary">Place Order</button>
                </form>              
                
            </div> 
        </div>        
    </div>
    <br>

       
{% endblock %}
