{% extends 'base.html' %}
{% load static %}
    
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Payment Successful</h1>
                <p class="lead fw-normal text-white-50 mb-0">Your order will be delivered shortly.</p>                
            </div>
        </div>
    </header>
    <br>    
    
    <div class="container">
        <div class="row">   
            <div class="col-md-12">
                success
                bhayo hai <br>

                paisa ayo ki nai chai thah chaina
            </div>
        </div>
    </div>
    <br><br>
       
{% endblock %}    